@page
@model Ganaderia.App.Presentacion.Pages.ListaEnfermosModel
@{
    ViewData["Title"] = "Animales Enfermos";
}
<body
    style="background-image: url(/images/VETbovi.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


    <style>
        .contain {
            width: 90%;
            margin-top: 5%;
            margin-left: 5%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label{color:darkgray;

        }
        
        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>


<div class="contain">
    <div class="itemlog">
    <!-- Tabla con Lista de Animales Enfermos --> 
        <div class="text-center">
            <br>
            <h3 class="heading-section">Animales Enfermos</h3>
            <br>
            <h6 class="heading-section">Lista de Ejemplares</h6>
            <p>Una lista de los ejemplares indicados como enfermos por parte del Ganadero, para revisión y atención.</p>
        </div>
        <!-- Formulario para enviar Seleccion de Ganado --> 
        <br>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" asp-page="./Atencion" style="padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                <i class="fas fa-info-circle"></i>
                Novedad en Atención
                </a>
            <a class="btn btn-primary table-btn" asp-page="./Listav" style="margin-left:8%; padding:2% 4% 2% 4%;border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                <i class="fas fa-info-circle"></i>
                Atrás
            </a>
        </div>
        <hr>
        <br>
        <!-- Tabla con Datos --> 
        <table class="table">
            <!-- Formulario para enviar con button en tipo submit --> 
            <form method="post">
                @if(Model.ejemplaresenfermos != null)
                {

                <thead>
                    <tr>
                        <th>Lote</th>
                        <th>Cod. Ejemplar</th>
                        <th>Fecha Compra</th>
                        <th>Estado Salud</th>
                        <th>Vacunado &nbsp;</th>
                        <th>Observaciones</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ejemplaresenfermos)
                    {
                        <tr>
                            <td>@item.idGanado</td>
                            <td>@item.Id</td>
                            <td>@item.fechaCompra</td>
                            <td>@item.estadoSalud</td>
                            <td><label class="checkbox-wrap checkbox-primary">
                                @if (item.fechaVacuna==null)
                                {
                                <input type="checkbox">
                                }else
                                {
                                <input type="checkbox" checked>
                                }
                                <span class="checkmark"></span>
                                </label>
                            </td>
                            <td>@item.observaciones</td>
                            <td>
                                <button type="submit" class="btn btn-primary" asp-page-handler="Lista" asp-route-idEjemplar="@item.Id" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; color:azure; border-end-color; darkblue ">+ Info</button>
                            </td>
                        </tr>
                    }
                </tbody>
                }
            </form>
        </table>
        <hr>

        @if(Model.atenciones != null)
        {
            <br>
            <div class="text-center">
                    <h6 class="heading-section">Historial de Atenciones del Animal</h6>
                    <p>El detalle de cada atención hecha al animal.</p>
            </div>
            <!-- Tabla con Datos --> 
            <table class="table">
                <!-- Formulario para enviar con button en tipo submit --> 
                <form method="post">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Ejemplar</th>
                            <th>Veterinario</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Observaciones</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.atenciones)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.idEjemplar</td>
                                <td>@item.idVeterinario</td>
                                <td>@item.Fecha</td>
                                <td>@item.Estado</td>
                                <td>@item.Observaciones</td>
                                <td>
                                    <a class="btn btn-primary table-btn" asp-page="../Veterinario/Atencion" asp-route-atencionId="@item.Id" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                                    <i class="fas fa-info-circle"></i>
                                    Editar
                                    </a>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-danger" asp-page-handler="DelAtencion" asp-route-atencionId="@item.Id" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; color:azure; border-end-color; darkblue ">Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    
                </form>
            </table>
        }
        <br>

    </div>
</div>              
</body>