@page
@model Ganaderia.App.Presentacion.Pages.ListavModel
@{
    ViewData["Title"] = "Veterinarios";
}
<body style="background-image: url(/images/VETbovi.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">
<style>
        .contain {
            width: 80%;
            margin-top:5%;
            margin-left:10%;
            border-radius:5%;
            background-color:yellowgreen;
            color:azure;
        }
        .itemlog{
            width:90%;
            margin-left:5%;
        }

        label{color:darkgray;

        }
        
    </style>

<div class="contain">
    <div class="itemlog">
    <!-- Tabla con Lista de Veterinarios Registrados --> 
        <div class="text-center">
            <br>
            <h3 class="heading-section">Veterinarios</h3>
            <br>
            <h5 class="heading-section">Lista de Veterinarios</h5>
            <p>En este espacio puedes administrar toda la información de los Veterinarios.</p>
            <br>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" asp-page="./Veterinario" style="padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                <i class="fas fa-info-circle"></i>
                Nuevo Veterinario
                </a>
                <a class="btn btn-primary" asp-page="./ListaEnfermos" style="margin-left:8%;padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                <i class="fas fa-info-circle"></i>
                Ver Ejemplares Enfermos
                </a>
            </div>
        </div>
    <br>
    <!-- Tabla con Datos --> 
    <table class="table">
        <!-- Formulario para enviar con button en tipo submit --> 
        <form method="post">
            @if(Model.veterinarios != null)
            {

            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Registro</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.veterinarios)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.NumeroTelefono</td>
                        <td>@item.correo</td>
                        <td>@item.Registro</td>
                        <td>
                            <a class="btn btn-primary table-btn" asp-page="./Veterinario" asp-route-VeterinarioId="@item.Id" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                            <i class="fas fa-info-circle"></i>
                            Editar
                            </a>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger" asp-page-handler="Del" asp-route-idVeterinario="@item.Id" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; color:azure; border-end-color; darkblue ">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
            }
        </form>
    </table>
    <br>
    </div>
</div>              
</body>