@page
@model Ganaderia.App.Presentacion.Pages.VeterinarioModel
@{
    
}
<body style="background-image: url(/images/VETbovi.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


<style>
        .contain {
            width: 80%;
            margin-top:5%;
            margin-left:10%;
            border-radius:5%;
            background-color:yellow;
            color:azure;
        }
        .itemlog{
            width:90%;
            margin-left:5%;
        }
        label{color:darkgray;

        }
        h2 {color:darkgray;
        }
        h3 {color:darkgray;
        }
        h5 {color:darkgray;
        }
    </style>


<div class="contain">
    <div class="itemlog">
        <form id="Veterinario" action="POST">
        <br>
        <div class="text-center">
                <h2 class="heading-section">Mi perfil Veterinario: </h2>
        </div>
        
        <br>
        <br>
        <label style="margin-left: 10%">Id Tarjeta profesional </label>
        <input id="tarjeta" type="text" placeholder="tarjeta profesional" style="margin-left: 13%">
        <img style="margin: 0%;" src="/images/okIcon.png" width=25px height=20px><br>
        <br>
        <label style="margin-left: 10%">Telefono secundario: </label>
        <input id="tel2" type="text" placeholder="teléfono veterinario" style="margin-left: 13%">
        <img style="margin: 0%;" src="/images/okIcon.png" width=25px height=20px><br>
        <br>
        <label style="margin-left: 10%">Dirección (veterinaria): </label>
        <input id="DirVet" type="text" placeholder="Lugar de la Veterinaria*" style="margin-left: 11%">
        <img style="margin: 0%;" src="/images/okIcon.png" width=25px height=20px><br>
        <br>
        <br><br>
        <input id="RegisVet" type="button" value="Registrar" style="margin-left:10%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
        
        
        <input id="RegisVet" type="button" value="Consultar" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
        
        <input id="RegisVet" type="button" value="Borrar" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
        <br>

        <br>
        <!-- Tabla con la Lista de Ejemplares por Lote de Ganado --> 
				<div class="text-center">
					<h3 class="heading-section">Veterinarios Registrados</h3>
                    <h5 class="heading-section">Lista de Veterinarios</h5>
				</div>
				
                <table class="table table-responsive-xl">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
							<th>Telefono</th>
                            <th>Correo</th>
                            <th>R.P.</th>
                        </tr>
                    </thead>
                    <tbody>
                        
						@foreach (var veterinarios in Model.veterinarios)
						{
							<tr class="alert" role="alert">
						      <td class="d-flex align-items-center">
						      	<div class="pl-3 email">
						      		<span>@veterinarios.Id</span>
						      	</div>
						      </td>
						      <td>@veterinarios.Nombre</td>
                              <td>@veterinarios.Apellido</td>
                              <td>@veterinarios.NumeroTelefono</td>
                              <td>@veterinarios.correo</td>
                              <td>@veterinarios.Registro</td>
						      
						    </tr>

						}
						
						
                        
                    </tbody>
                </table>

        <br>
        </form>
    </div>
</body>