@page
@model Ganaderia.App.Presentacion.Pages.EjemplarModel
@{
    ViewData["Title"] = "Editar Ejemplar";
}
<body
    style="background-image: url(/images/PastorVac.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


    <style>
        .contain {
            width: 80%;
            margin-top: 5%;
            margin-left: 10%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: azure;

        }

        h2 {
            color: darkgray;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>

    <!-- Formulario Ganadero -->
    <div class="contain">
        <div class="itemlog">
            <form id="Ejemplar" method="post">
                <!-- Input oculto para enlazar con Model Ganadero.cshtml.cs con el ID -->
                <input type="hidden" asp-for="ejemplar.Id"/>
                <br>
				<div class="text-center">
					<h2 style="color:azure">Ejemplar: </h2>
				</div>
                <br>
                <div class="text-center">
                    <p>En este espacio puedes administrar toda la información individual del animal.</p>
                </div>
                <!-- Cajas de Texto enlazadas al model para cargar datos o adicionar -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-2">
                        <div class="text-center">
                            <label asp-for="ejemplar.Id"></label>
                        </div>
                        <input asp-for="ejemplar.Id" type="text" class="form-control" id="Id" readonly="readonly">
                    </div>
                </div>
                <!-- Espacio IdGanado -->
                <div class="d-flex justify-content-center">
                    @* //TODO <div class="form-group col-md-2">
                        <label asp-for="ejemplar.idGanado"></label>
                        <select asp-for="ejemplar.idGanado" class="form-control" id="idGanado">
                        <option value="" selected disabled>-- Seleccionar --</option>
                        @foreach (var item in Model.Listaganado)
                        {
                            <option>@item.Id</option>
                        }
                        </select>
                    </div> *@
                    <div class="form-group col-md-2">
                        <label asp-for="ejemplar.idGanado"></label>
                        <input asp-for="ejemplar.idGanado" type="text" class="form-control" id="idGanado">
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="ejemplar.estadoSalud"></label>
                        <select asp-for="ejemplar.estadoSalud" class="form-control" id="estadoSalud">
                        <option value="" selected disabled>-- Seleccionar --</option>
                        <option>Saludable</option>
                        <option>Enfermo</option>
                        <option>Muerto</option>
                        <option>Otro</option>
                        </select>
                    </div> 
                    @* <div class="form-group col-md-4">
                        <label asp-for="ejemplar.estadoSalud"></label>
                        <input asp-for="ejemplar.estadoSalud" type="text" class="form-control" id="estadoSalud">
                    </div> *@
                    <span class="text-danger" asp-validation-for="ejemplar.idGanado"></span>
                    <span class="text-danger" asp-validation-for="ejemplar.estadoSalud"></span>
                </div>
                <!-- Datos de Compra y Vacuna -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-4">
                        <label asp-for="ejemplar.fechaCompra"></label>
                        <input asp-for="ejemplar.fechaCompra" type="text" class="form-control" id="fechaCompra">
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="ejemplar.fechaVacuna"></label>
                        <input asp-for="ejemplar.fechaVacuna" type="text" class="form-control" id="fechaVacuna">
                    </div>
                    <span class="text-danger" asp-validation-for="ejemplar.fechaCompra"></span>
                    <span class="text-danger" asp-validation-for="ejemplar.fechaVacuna"></span>
                </div>
                <!-- Observaciones -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-6">
                        <label asp-for="ejemplar.observaciones"></label>
                        <textarea asp-for="ejemplar.observaciones" class="form-control" id="observaciones" rows="3"></textarea>
                    </div>
                    <span class="text-danger" asp-validation-for="ejemplar.observaciones"></span>
                </div>
                <br>
                <!-- Botones -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue " onclick="myFunction()">Guardar</button>
                    <a class="btn btn-primary table-btn" asp-page="./Lista" style="margin-left:8%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Atrás
                    </a>
                </div>
                <br>
            </form>
            <hr>
            <br>
            <div class="text-center">
                <h6 class="heading-section">Lista de Lotes de Ganado</h6>
            </div>

            <table class="table">
                <form method="post">
                    @if(Model.Listaganado != null)
                    {

                    <thead>
                        <tr>
                            <th>Lote</th>
                            <th>Raza</th>
                            <th>Fecha Ingreso</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Listaganado)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.raza</td>
                                <td>@item.fechaIngreso</td>
                                <td>@item.cantidad</td>
                            </tr>
                        }
                    </tbody>
                    }
                </form>
            </table>
            <br>
            <script>
                function myFunction() {
                    alert("El proceso se ha realizado correctamente en BD, puede dar click en Atrás para regresar");
                }
        </script>
        </div>
</body>