@page
@model Ganaderia.App.Presentacion.Pages.GanadoModel
@{
    ViewData["Title"] = "Editar Ganado";
}
<body
    style="background-image: url(/images/PastorVac.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


    <style>
        .contain {
            width: 80%;
            margin-top: 5%;
            margin-left: 10%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: azure;

        }

        h2 {
            color: darkgray;
        }

        h3{
            color: red;
        }

        h4{
            color: red;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>

    <!-- Formulario Ganadero -->
    <div class="contain">
        <div class="itemlog">
            <form method="post">
                <!-- Input oculto para enlazar con Model Ganadero.cshtml.cs con el ID -->
                <input type="hidden" asp-for="ganado.Id"/>
                <br>
				<div class="text-center">
					<h2 style="color:azure">Ganado: </h2>
				<br>
                    <p>En este espacio puedes administrar toda la información del Lote de Ejemplares.</p>
                </div>
                <!-- Cajas de Texto enlazadas al model para cargar datos o adicionar -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-3">
                        <div class="text-center">
                            <label asp-for="ganado.Id">Código del Lote</label>
                        </div>
                        <input asp-for="ganado.Id" type="text" class="form-control" id="Id" readonly="readonly" name="Id">
                    </div>
                </div>
                <!-- Espacio IdGanadero -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-3">
                        <label asp-for="ganado.idGanadero">Ganadero Propietario *</label>
                        <select asp-for="ganado.idGanadero" class="form-control" id="idGanadero" name="idGanadero" required>
                        <option value="" selected disabled>-- Seleccionar --</option>
                        @foreach (var item in Model.Listaganaderos)
                        {
                            <option>@item.Id</option>
                        }
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="ganado.raza">Raza *</label>
                        <input asp-for="ganado.raza" type="text" class="form-control" id="raza" name="raza" required placeholder="Ej: Angus, Pardo Suizo">
                    </div>
                </div>
                <!-- Otros Datos -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-3">
                        <label asp-for="ganado.fechaIngreso">Fecha Ingreso *</label>
                        <input asp-for="ganado.fechaIngreso" type="text" class="form-control" id="fechaIngreso" name="fechaIngreso" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="ganado.cantidad">Cantidad de Animales *</label>
                        <input asp-for="ganado.cantidad" type="text" class="form-control" id="cantidad" name="cantidad" required>
                    </div>
                </div>
                <br>
                <!-- Botones -->
                <div class="d-flex justify-content-center">
                    @* <button type="submit" class="btn btn-primary" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue " onclick="myFunction()">GuardarASP</button> *@
                    <button class="btn btn-primary" asp-page-handler="Add" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">Guardar</button>
                    <a class="btn btn-primary table-btn" asp-page="./Lista" style="margin-left:8%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Atrás
                    </a>
                </div>
                <br>
            </form>
            @if(Model.Mensaje != null)
            {
                <div class="text-center">
                    <h3>@Model.Mensaje</h3>
                    <h4>@Model.Mensaje2</h4>
                </div>
            }

            <hr>
            <br>
            <div class="text-center">
                <h6 class="heading-section">Lista de Ganaderos</h6>
            </div>

            <table class="table">
                <form method="post">
                    @if(Model.Listaganaderos != null)
                    {

                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Listaganaderos)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Nombre</td>
                                <td>@item.Apellido</td>
                            </tr>
                        }
                    </tbody>
                    }
                </form>
            </table>
            <br>
        </div>
</body>