@page
@model Ganaderia.App.Presentacion.Pages.ListaModel
@{
}
<body
    style="background-image: url(/images/PastorVac.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


    <style>
        .contain {
            width: 80%;
            margin-top: 5%;
            margin-left: 10%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: azure;

        }

        h2 {
            color: darkgray;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>


<div class="contain">
    <div class="itemlog">
    <!-- Tabla con Lista de Ganaderos Registrados --> 
        <div class="text-center">
            <br>
            <h3 class="heading-section">Ganado</h3>
            <br>
            <h6 class="heading-section">Lista de Lotes</h6>
            <p>En este espacio puedes administrar toda la información de los Lotes de Ganado y de cada uno de los ejemplares.</p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Lote</th>
                    <th>Ganadero</th>
                    <th>Raza</th>
                    <th>Fecha Ingreso</th>
                    <th>Cantidad</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ganado)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.idGanadero</td>
                        <td>@item.raza</td>
                        <td>@item.fechaIngreso</td>
                        <td>@item.cantidad</td>
                        <td>
                            <a class="btn btn-primary table-btn" asp-page="./Ganado" asp-route-GanadoId="@item.Id" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                            <i class="fas fa-info-circle"></i>
                            Editar
                            </a>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger" asp-page-handler="Del" asp-route-idGanado="@item.Id" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; color:azure; border-end-color; darkblue ">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center">
            <a class="btn btn-primary" asp-page="./Ganado" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
            <i class="fas fa-info-circle"></i>
            Nuevo Lote
            </a>
            <a class="btn btn-primary" asp-page="./Ejemplar" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
            <i class="fas fa-info-circle"></i>
            Nuevo Ejemplar
            </a>
        </div>
        <!-- Formulario para enviar Seleccion de Ganado --> 
        <br>
        <form method="post">
            <div class="d-flex justify-content-center">
                <div class="form-group col-md-4">
                    <div class="text-center">
                        <label>Ver Ejemplares del Lote</label>
                    </div>    
                    <select id="idGanado" name="idGanado" class="form-control">
                    <option value="" selected disabled>-- Seleccionar --</option>
                    @foreach (var item in Model.ganado)
                    {
                        <option>@item.Id</option>
                    }
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" asp-page-handler="Lista" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">Ver</button>
            </div>
        </form>
        <hr>
        <div class="text-center">
                <h6 class="heading-section">Lista de Ejemplares</h6>
        </div>
        <!-- Tabla con Datos --> 
        <table class="table">
            <!-- Formulario para enviar con button en tipo submit --> 
            <form method="post">
                @if(Model.ejemplares != null)
                {

                <thead>
                    <tr>
                        <th>Lote</th>
                        <th>Cod. Ejemplar</th>
                        <th>Fecha Compra</th>
                        <th>Estado Salud</th>
                        <th>Vacunado &nbsp;</th>
                        <th>Fecha Vacuna</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ejemplares)
                    {
                        <tr>
                            <td>@item.idGanado</td>
                            <td>@item.Id</td>
                            <td>@item.fechaCompra</td>
                            <td>@item.estadoSalud</td>
                            <td><label class="checkbox-wrap checkbox-primary">
                                @if (item.fechaVacuna==null)
                                {
                                <input type="checkbox">
                                }else
                                {
                                <input type="checkbox" checked>
                                }
                                <span class="checkmark"></span>
                                </label>
                            </td>
                            <td>@item.fechaVacuna</td>
                            <td>
                                <a class="btn btn-primary table-btn" asp-page="./Ejemplar" asp-route-EjemplarId="@item.Id" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                                <i class="fas fa-info-circle"></i>
                                Editar
                                </a>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger" asp-page-handler="DelEjemplar" asp-route-idEjemplar="@item.Id" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; color:azure; border-end-color; darkblue ">Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
                }
            </form>
        </table>
        <br>
    </div>
</div>              
</body>

@* //TODO Pendiente hacer que las listas se actualicen al modificar, hacer update
    // TODO La Cantidad de animales en el Lote debe ser un Count de Ejemplares del mismo idGanado
*@