@page
@model Ganaderia.App.Presentacion.Pages.GanaderoModel
@{
}
<body
    style="background-image: url(/images/PastorVac.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


    <style>
        .contain {
            width: 80%;
            margin-top: 5%;
            margin-left: 10%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: azure;

        }

        h2 {
            color: darkgray;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>


    <div class="contain">
        <div class="itemlog">
            <form id="Ganadero" action="POST">
                <br>
				<div class="text-center">
					<h2 style="color:azure">Ganadero: </h2>
				</div>
                <br>
                <p>En este espacio puedes administrar tu perfil como Ganadero, cambiar o actualizar tu información y datos personales.</p>
                <br>
                <div class="Campos de Texto">
                    <label>Id o Documento: </label>
                    <input id="idGanadero" type="text" value="@Model.ganadero.Id">
                </div>
                <br>
                <div class="Campos de Texto">
                    <label>Nombres: </label>
                    <input id="Nombre" type="text" value="@Model.ganadero.Nombre">
                    <label>Apellidos: </label>
                    <input id="Apellidos" type="text" value="@Model.ganadero.Apellido">
                </div>
                <div class="Campos de Texto">
                    <label>Numero de Telefono: </label>
                    <input id="NumeroTelefono" type="text" value="@Model.ganadero.NumeroTelefono">
                    <label>Direccion: </label>
                    <input id="Direccion" type="text" value="@Model.ganadero.Direccion">
                </div>
                <div class="Campos de Texto">
                    <label>Correo: </label>
                    <input id="correo" type="text" value="@Model.ganadero.correo">
                    <label>Contraseña: </label>
                    <input id="contrasena" type="text" value="@Model.ganadero.contrasena">
                </div>
                <br>
                <h5>Campos de Localización</h5>
                <br>
                <div class="Campos de Texto">
                    <label>Latitude: </label>
                    <input id="Latitude" type="text" value="@Model.ganadero.Latitude">
                    <label>Longitud: </label>
                    <input id="Longitude" type="text" value="@Model.ganadero.Longitude">
                </div>
                <br>
                <!-- Botones -->
                <div class="Campos de Texto">
                    <br>
                    <a class="btn btn-primary table-btn" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Guardar
                    </a>
                    <a class="btn btn-primary table-btn" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Borrar
                    </a>
                    <a class="btn btn-primary table-btn" asp-page="./List" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Atrás
                    </a>
                </div>
                <br>
                <br>
            </form>
        </div>
</body>