@page
@model Ganaderia.App.Presentacion.Pages.AplicacionVacunaModel
@{
    ViewData["Title"] = "Aplicación Vacuna";
}
<body
    style="background-image: url(/images/VETbovi.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


    <style>
        .contain {
            width: 80%;
            margin-top: 5%;
            margin-left: 10%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: azure;

        }

        h2 {
            color: darkgray;
        }

        h3{
            color: red;
        }

        h4{
            color: red;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>

    <!-- Formulario Ganadero -->
    <div class="contain">
        <div class="itemlog">
            <form method="post">
                <!-- Input oculto para enlazar con Model Ganadero.cshtml.cs con el ID -->
                <input type="hidden" asp-for="aplicacion.Id"/>
                <br>
				<div class="text-center">
					<h2 style="color:azure">Aplicación de Vacuna: </h2>
				<br>
                    <p>En este espacio puedes registrar la aplicación de una vacuna a un animal.</p>
                </div>
                <!-- Cajas de Texto enlazadas al model para cargar datos o adicionar -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-2">
                        <div class="text-center">
                            <label asp-for="aplicacion.Id">Aplicación</label>
                        </div>
                        <input asp-for="aplicacion.Id" type="text" class="form-control" id="Id" readonly="readonly" name="Id">
                    </div>
                </div>
                <!-- Espacio IdGanadero -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-4">
                        <label asp-for="aplicacion.idGanadero">Ganadero que Aplicó *</label>
                        <select asp-for="aplicacion.idGanadero" class="form-control" id="idGanadero" name="idGanadero" required>
                        <option value="" selected disabled>-- Seleccionar --</option>
                        @foreach (var item in Model.Listaganaderos)
                        {
                            <option>@item.Id</option>
                        }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="aplicacion.idVacuna">Vacuna Aplicada *</label>
                        <select asp-for="aplicacion.idVacuna" class="form-control" id="idVacuna" name="idVacuna" required>
                        <option value="" selected disabled>-- Seleccionar --</option>
                        @foreach (var item in Model.Listavacunas)
                        {
                            <option>@item.Id</option>
                        }
                        </select>
                    </div>
                </div>
                <!-- Otros Datos -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-4">
                        <label asp-for="aplicacion.idEjemplar">Animal *</label>
                        <select asp-for="aplicacion.idEjemplar" class="form-control" id="idEjemplar" name="idEjemplar" required>
                        <option value="" selected disabled>-- Seleccionar --</option>
                        @foreach (var item in Model.Listaejemplares)
                        {
                            <option>@item.Id</option>
                        }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="aplicacion.Fecha">Fecha de Vacunación *</label>
                        <input asp-for="aplicacion.Fecha" type="text" class="form-control" id="Fecha" name="Fecha" required>
                    </div>
                </div>
                <br>
                <!-- Botones -->
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" asp-page-handler="Add" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">Guardar</button>
                    <a class="btn btn-primary table-btn" asp-page="../Ganado/ListaEjemplares" style="margin-left:8%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Atrás
                    </a>
                </div>
                <br>
            </form>

            @if(Model.Mensaje != null)
            {
                <div class="text-center">
                    <h3>@Model.Mensaje</h3>
                    <h4>@Model.Mensaje2</h4>
                </div>
            }

            <hr>
            <br>
            <div class="text-center">
                <h6 class="heading-section">Lista de Vacunas</h6>
            </div>

            <table class="table">
                <form method="post">
                    @if(Model.Listavacunas != null)
                    {

                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Lote</th>
                            <th>Fecha Compra</th>
                            <th>Fecha Vencimiento</th>
                            <th>Existencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Listavacunas)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Nombre</td>
                                <td>@item.Lote</td>
                                <td>@item.FechaCompra</td>
                                <td>@item.FechaVencimiento</td>
                                <td>@item.Existencia</td>
                            </tr>
                        }
                    </tbody>
                    }
                </form>
            </table>
            <br>
        </div>
</body>